# Ignored folders
**/wenv/**
**/lenv/**
**/menv/**
**/venv/**
**/.venv/**
**/.vscode/**
**/node_modules/**
# **/output/**

# Ignored extensions
# *.html

# Ignored files
package.json
package-lock.json

# Tailwind dependencies
--prefix
