<!DOCTYPE html>
<html>
    {% extends "head/head_blocks.jinja" %}

    <body>
        {% include "body/header/header_blocks.jinja" %}
        {% block main %}{% endblock %}
        {% include "body/footer/footer_blocks.jinja"%}
    </body>

</html>
