{% extends "header_binder.jinja" %}

{% block header_left %}
<div class="header_left">
    <p>sample footer</p>
</div>
{% endblock %}

{% block header_center %}
<div class="header_center">
    <p>sample footer</p>
</div>
{% endblock %}

{% block header_right %}
<div class="header_right">
    <p>sample footer</p>
</div>
{% endblock %}
